:root {
  --primary-500: #9c27b0;
  --primary-900: #89119d;
  --secondary-500: #ffce00;
  --secondary-900: rgba(233, 287, 2);
  --white: #fff;
  --black: #000;

  --font-primary: "Staatliches", cursive;
  --font-secondary: Arial, Helvetica, sans-serif;
}
/* -------------------------------------------------------------------------- */
/**                              $ColorSelection                              */
/* -------------------------------------------------------------------------- */
::-moz-selection {
  background-color: transparent;
  color: #007ee5;
  text-shadow: none;
}
::selection {
  background-color: transparent;
  color: #007ee5;
  text-shadow: none;
}

/* -------------------------------------------------------------------------- */
/**                                 $HackRems                                 */
/* -------------------------------------------------------------------------- */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: var(--primary-500);
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--font-secondary);
}
/* *1REM = 10PX */

/* -------------------------------------------------------------------------- */
/**                                $BoxSizing                                 */
/* -------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -------------------------------------------------------------------------- */
/**                              $ImgResponsive                               */
/* -------------------------------------------------------------------------- */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* -------------------------------------------------------------------------- */
/**                              $Headings                                    */
/*                          https://type-scale.com/                           */
/* -------------------------------------------------------------------------- */
h1 {
  font-size: 4.883rem;
}
h2 {
  font-size: 3.906rem;
}
h3 {
  font-size: 3.125rem;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--secondary-500);
  font-family: var(--font-primary);
}

/* -------------------------------------------------------------------------- */
/**                              $Enlaces                                     */
/* -------------------------------------------------------------------------- */
a {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/**                              $Parafos                                     */
/* -------------------------------------------------------------------------- */
p {
  color: var(--white);
  font-size: 1.8rem;
}
