.container {
  max-width: 102.4rem;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/**                                  $Header                                  */
/* -------------------------------------------------------------------------- */
.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
}

/* -------------------------------------------------------------------------- */
/*                                    *$Nav                                   */
/* -------------------------------------------------------------------------- */
.navegation {
  background-color: var(--primary-900);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  /* gap: 2rem; NO es soportado completamente 2020 */
}

.navegation__link {
  color: var(--white);
  font-family: var(--font-primary);
  font-size: 3rem;
  margin-right: 2.765rem; /* en vez de gap */
}
/* Elimina el margen derecho del ultimo elemento */
.navegation__link:last-of-type {
  margin-right: 0;
}

.navegation__link--active,
.navegation__link:hover {
  color: var(--secondary-500);
}

/* -------------------------------------------------------------------------- */
/*                                  *$Footer                                  */
/* -------------------------------------------------------------------------- */
.footer {
  background-color: var(--primary-900);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__text {
  font-family: var(--font-primary);
  text-align: center;
  font-size: 1.92rem;
}

.footer__link {
  color: var(--secondary-500);
}

/* -------------------------------------------------------------------------- */
/*                                   *$Grid                                   */
/* -------------------------------------------------------------------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* -------------------------------------------------------------------------- */
/*                                   *$Cards                                  */
/* -------------------------------------------------------------------------- */

.card {
  background-color: var(--primary-900);
  border-radius: 2%;
  box-shadow: 0 2.3px 1.9px rgba(0, 0, 0, 0.021),
    0 5.4px 4.3px rgba(0, 0, 0, 0.03), 0 9.8px 7.7px rgba(0, 0, 0, 0.037),
    0 16.2px 12.8px rgba(0, 0, 0, 0.043), 0 26.7px 21.2px rgba(0, 0, 0, 0.05),
    0 46.7px 37px rgba(0, 0, 0, 0.059), 0 101px 80px rgba(0, 0, 0, 0.08);
}

.card__img {
  border-radius: 2% 2% 0 0;
}

.card__description {
  padding: 1rem;
}

.card__title,
.card__price {
  font-family: var(--font-primary);
  text-align: center;
  margin: 1rem 0;
  line-height: 1.2;
}

.card__title {
  font-size: 4rem;
}

.card__price {
  font-size: 2.8rem;
  color: var(--secondary-500);
}

/* -------------------------------------------------------------------------- */
/*                                  *$Clothes                                 */
/* -------------------------------------------------------------------------- */
.clothes {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
  min-height: 30rem;
  box-shadow: 0 2.3px 1.9px rgba(0, 0, 0, 0.021),
    0 5.4px 4.3px rgba(0, 0, 0, 0.03), 0 9.8px 7.7px rgba(0, 0, 0, 0.037),
    0 16.2px 12.8px rgba(0, 0, 0, 0.043), 0 26.7px 21.2px rgba(0, 0, 0, 0.05),
    0 46.7px 37px rgba(0, 0, 0, 0.059), 0 101px 80px rgba(0, 0, 0, 0.08);
  grid-column: 1 / 3;
}

.clothes--react {
  background-image: url("../img/grafico1.jpg");
  grid-row: 2 / 3;
}

.clothes--node {
  background-image: url("../img/grafico2.jpg");
  grid-row: 8 / 9;
}

@media (min-width: 768px) {
  .clothes--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 *$Nosotros                                 */
/* -------------------------------------------------------------------------- */
.about {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
  .about {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__txt {
  grid-row: 2 / 3;
  padding: 2rem;
}

@media (min-width: 768px) {
  .about__txt {
    grid-row: 1 / 2;
    padding: 2rem;
  }
}

.about__img {
  background-image: url("../img/nosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
  min-height: 30rem;
}

/* -------------------------------------------------------------------------- */
/*                                  *$Reasons                                 */
/* -------------------------------------------------------------------------- */
.reasons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .reasons {
    grid-template-columns: repeat(4, 1fr);
  }
}

.reason {
  text-align: center;
}

.reason__title {
  margin: 0;
}
